---
import Page from "@slida/cli/page";
---

<Page title="Presentation title">
  <layout id="cover" />
  <h1 class="slida-google-title">This is presentation title</h1>
  <p class="slida-google-subtitle">This is presentation subtitle</p>
</Page>

<Page title="Section title">
  <layout id="section" />
  <h1 class="slida-google-title">This is section title</h1>
</Page>

<Page title="Page title">
  <layout id="page" />
  <h1 class="slida-google-title">This is page title</h1>
  <div class="slida-google-body">
    <p>This is page content</p>
    <ul>
      <li>bullet</li>
      <li>list</li>
    </ul>
    <p>This is new paragraph</p>
    <ol>
      <li>number</li>
      <li>list</li>
    </ol>
  </div>
</Page>

<Page title="Two-column page title">
  <layout id="two-column" />
  <h1 class="slida-google-title">This is page title</h1>
  <p class="slida-google-column">This is two-column page content</p>
  <p class="slida-google-column">This is two-column page content</p>
</Page>

<Page title="Number page">
  <layout id="number" />
  <p class="slida-google-big-number">xx%</p>
  <p class="slida-google-subtitle">This is number page</p>
</Page>

<Page title="Quote page">
  <layout id="quote" />
  <p class="slida-google-quote">This is quote page</p>
  <p class="slida-google-quote-name">- name</p>
</Page>

<Page title="Statement page">
  <layout id="statement" />
  <p class="slida-google-statement">This is statement<br />page</p>
</Page>
