---
import Page from "@deckup/astro/page";
import AstroArchitecture from "./components/AstroArchitecture.astro";
import ReactDataExplorer from "./components/ReactDataExplorer.tsx";
import VueDataExplorer from "./components/VueDataExplorer.vue";
---

<Page title="Astro component architecture">
  <PageMeta layout="page" />
  <h1>Astro components create the whole picture</h1>
  <AstroArchitecture />
</Page>

<Page title="React data explorer">
  <PageMeta layout="page" />
  <h1>Explore the same data with React</h1>
  <ReactDataExplorer client:load />
</Page>

<Page title="Vue data explorer">
  <PageMeta layout="page" />
  <h1>Explore the same data with Vue</h1>
  <VueDataExplorer client:load />
</Page>
